/**Inicializacion de css**/

html{

	box-sizing: border-box;
}

*,*before,*after{
	box-sizing: inherit;
}
*{
	margin: 0; 
	padding: 0;
}

/**Iniciamos con estilo de la pagina**/
body{
	font-family: verdana,geneva,serif;
	background-color: #FDFEFE;
}

header{

	padding: 20px 0;
	width: 1200px;
	margin: 0 auto;
}

.logo img{
	padding: 10px 30px ;
	width: 150px;
}

/**Navegacion**/

.navegacion{
background-color: #B32121;
}

nav{
	width: 1200px;
	margin: 0 auto;
}

nav ul{
	list-style: none;
}

nav >ul>li{
	float: left;
}

nav ul:after{
	content: "" ;
	display: block;
	clear: both;
}

nav ul li a {
display: inline-block;
width: 200px;
color: #ffffff;
text-align: center;
text-decoration: none;
padding: 20px;
}

nav ul li a:hover{
	background-color: #CD5C5C;
}


/**Contenedor principal de seccion **/

div.contenido_principal{
	max-width: 1200px;
	margin: 0 auto;
}

table{
	padding-left: 16%;
	padding-bottom: 20px;
}
.contenido_principal img{
	border: 3px solid gray;
	border-radius: 10px;
}

/**Contenido del article**/
h2{
	color: #B32121;
	padding-bottom: 10px;
	font-family: georgia;
	font-size: xx-large;
	text-shadow: 15px 5px 10px gray;
	
}

hr{
	padding-bottom: 2px;
	background-color: #5F6A6A ;
}

p{
	padding: 10px 5px;
	font-family: verdana;
	text-align: justify;
	padding-bottom: 40px;
}

/**Contenido footer**/

footer{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #EAEDED;
	padding: 30px 20px;

}
h3{
	color: #909497  ;
}
h4,h5{
	color: #A6ACAF  ;
}

div.contenido_final h1{
	padding: 20 0;
}

