/**Inicializacion de css**/

html{

	box-sizing: border-box;
}

*,*before,*after{
	box-sizing: inherit;
}
*{
	margin: 0; 
	padding: 0;
}

/**Iniciamos con estilo de la pagina**/
body{
	font-family: verdana,geneva,serif;
	background-color: #FDFEFE;
}

header{
	padding: 20px 0;
	width: 1200px;
	margin: 0 auto;
}

.logo img{
	padding: 10px 30px ;
	width: 150px;
}

/**Navegacion**/

.navegacion{
background-color: #B32121;

}
nav{
	width: 1200px;
	margin: 0 auto;
}

nav ul{
	list-style: none;
}

nav >ul>li{
	float: left;
}

nav ul:after{
	content: "" ;
	display: block;
	clear: both;
}

nav ul li a {
display: inline-block;
width: 200px;
color: #ffffff;
text-align: center;
text-decoration: none;
padding: 20px;
}

nav ul li a:hover{
	background-color: #CD5C5C;
}

/**Contenedor principal de secciom**/

div.contenido_principal{
	max-width: 1200px;
	margin: 0 auto;
}

h1{
	padding: 5px 20px;
	padding-bottom: 20px;
	font-family: Rockwell;
	font-size: 2em;
	color: #5F6A6A  ;
}
hr{
	padding-bottom: 2px;
	background-color: #5F6A6A ;
}

#formacion_online{
	padding: 5px 20px;
	padding-bottom: 5px;
	font-family: Rockwell;
	font-size: 2.1em;
	color: #5F6A6A  ;
}

table{
	border-collapse: collapse;
	text-align: center;
	margin: 5px auto;
}
caption{
	background-color: #34495E;
	color: white;
}

td,th,caption{
	border: 1px solid gray;
	padding: 10px;
}
table tbody tr:nth-child(even){
	background-color: #ddd;
}

table tbody tr:nth-child(odd){
	
	background-color: #aaa;
}
tfoot{
	background-color: #34495E  ;
	color: white;
}

/**Contenedor footer**/

footer{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #EAEDED;
	padding: 30px 20px;

}
h3{
	color: #909497  ;
}
h4,h5{
	color: #A6ACAF  ;
}

div.contenido_final h1{
	padding: 20 0;
}